<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

</style>
<body>
<h1><p> <b><center>Tuan Le</center></b> <p></h1>
<p><h1> <center>181 Lester Street, Waterloo, Ontario, N2L 0C2</center></h1></body>
<p><h1> <center>(c) 226-868-9707; lexx6290@mylaurier.ca </center></h1></html>

<p><h1>{{ fill.dateto }}</h1></p>

<p><h1> {{ fill.title }} {{ fill.first_name }} {{ fill.last_name }},</h1></p>
<p><h1> {{ fill.rec_positon }}, {{ fill.company }}.</h1></p>
<p><h1> {{ fill.street }},</h1></p>
<p><h1> {{ fill.city }}, {{ fill.province }}, {{ fill.zip_code }}.</h1></p>
<p><h1></h1></p>
<p><h1> Dear {{ fill.title }} {{ fill.last_name }},</h1></p>
<p><h1></h1></p>
<p><h1>I wish to apply for the position of {{ fill.apply_position }} at {{ fill.company }} for this Co-op term.
    I believe that with my experience in coding, ability to work in a team, and attention to detail,
    I will be able to learn from and make meaningful contributions to your organization.</h1></p>

<p><h1> I am studying second-year Computer Science (UW) and Business Administration at Wilfrid Laurier (WLU).
    Studying in this program required me to be able to have good organizational skills in order to keep up with the
    workloads. Hence, I can deliver quality work when handling multiple tasks within the required time limits to meet
    customers and the {{ fill.company }} demands. Pursuing this program also allowed me to better implement software
    for business use because of my understanding of both practices.</h1></p>

 <p><h1>My interest in software began during my last two years of high school where I have acquired some levels of
     familiarity with various coding languages, tools, and concepts (as listed in my Resume) alongside my
     formal high school education. Aside from various programming languages, I have learned,
     my previous experiences in coding and independent learning allowed me to pick up on any new language, tools,
     or frameworks that are required for the job. In particular, in August 2020, I learned Django Framework by
     myself to develop a mobile website for a startup company called Studioussublet with another student through Git;
    the demo website link can be found under the Experience section of my Resume. </h1></p>

 <p><h1>Through various competitions and group projects, I have developed effective communication and teamwork skills.
     For instance, in a robotic competition, I was able to lead my team to win second place, and my team was the
     only one to successfully program all the required functionalities of an automated robot in the contest.
     Furthermore, while working through computing assignments in university,
     I was able to develop essential practices in programming, such as obeying naming conventions,
     documenting code, and testing each function. All of these skills, I think, are absolutely necessary to work in any
    large coding projects.</h1></p>

<p><h1>In addition to my interest and experience in programming,
    I took pride in myself for being a team player, a goal-oriented individual with competent
    organizational skills. These skill sets have led me to believe that I am well suited for the position
    that you are offering. Thank you for your consideration, and I look forward to hearing from you soon.</h1></p>

<p><h1>   Sincerely,</h1></p>

<p><h1>Tuan Le </h1></p>

</body>
</html>